.site-header,
.site-footer {
  figure {
    a {
      display: flex;
      gap: 0.5em;
      align-items: center;
    }
    svg {
      height: 2em;
      aspect-ratio: 906 / 1280;
      fill: var(--white);
    }
    figcaption {
      line-height: 1.1;
      color: var(--white);
    }
  }
}
