.navOpen {
  .site-overlay {
    display: block;
  }
  .site-head__inner {
    align-items: flex-start;
  }
}

.site-head__nav {
  position: absolute;
  left: 0;
  top: 0;
  // width: var(--menu-width);
  width: 100%;
  // overscroll-behavior: contain;
  // overflow: hidden;
  -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
  z-index: 20;
  &[aria-expanded="false"] {
    transform: translateX(100%);
    a {
      display: none;
    }
  }
  &[aria-expanded="true"] {
    a {
      display: flex;
    }
  }

  > ul {
    margin: 4.3em 0;
    li {
      margin: 0;
      padding: 0;
      background-color: var(--terracotta);
      border-bottom: 1px solid var(--off-white);
      &:first-child {
        border-top: 1px solid var(--off-white);
      }
    }
  }
  a,
  a:link,
  a:visited {
    color: var(--off-white);
    padding: 1em;
    text-decoration: none;
    font-family: var(--sans-serif-light);
    font-size: clamp(1.125rem, 1.07rem + 0.275vw, 1.5rem);
    transition:
      color,
      background-color,
      var(--transition-time) var(--transition-style);
    &:hover,
    &:active,
    &[data-state="active"] {
      color: var(--off-white);
      text-decoration: none;
      background-color: var(--dark-blue);
    }
  }
}

@media screen and (min-width: 68.75em) {
  .nav-burger,
  .site-overlay {
    display: none;
  }
  .site-head__nav {
    position: relative;
    top: auto;
    right: auto;
    width: auto;
    height: auto;
    transition: none;
    transform: none;
    overflow: visible;
    &[aria-expanded="false"] {
      transform: none;
      a {
        display: inline-block;
      }
    }

    > ul {
      display: flex;
      // grid-template-columns: repeat(3, 1fr);
      gap: 0 1em;
      background-color: transparent;
      max-width: 50rem;
      margin: 0;
      transition: none;
      li {
        padding: 0;
        line-height: 1;
        border-bottom: 0;
        &:first-child {
          border: none;
        }
      }
      a,
      a:link,
      a:visited {
        display: inline-block;
        position: relative;
        transition: color var(--transition-time) var(--transition-style);
        padding: 0 0.5em;
        margin: 0;
        color: var(--off-white);
        &:hover,
        &:active,
        &[data-state="active"] {
          color: var(--dark-blue);
          background-color: transparent;
          text-decoration: none;
        }
      }
    }
  }
}
