.site-head {
  // background-color: var(--terracotta);
  background-color: var(--off-white);
  z-index: 10;
  position: sticky;
  top: 0;
  width: 100%;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
  }
  &__brand {
    display: flex;
    align-items: center;
    span {
      line-height: 1.1;
      padding-left: 0.25em;
    }
    svg {
      height: 4rem;
      aspect-ratio: 1;
    }
  }
}
