@use "utilities";
@use "blocks/nav-burger";
@use "blocks/main-menu";
@use "blocks/site-head";
@use "blocks/site-foot";
@use "blocks/carbon-badge";
@use "blocks/page-nav";

body,
html {
  /* this is to stop the page scrolling when the menu is open */
  overflow-x: hidden;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: var(--sans-serif-light);
  font-weight: 300;
  font-size: clamp(1.125rem, 1.07rem + 0.275vw, 1.5rem);
  line-height: var(--line-height);
  color: var(--dark-blue);
  background-color: var(--off-white);
  min-width: 320px;
  position: relative;
  margin: 0;
}

/*********************
LAYOUT & GRID STYLES
*********************/
.main {
  padding-top: 4em;
}
// @media screen and (min-width: 52em) {
//   .main {
//     padding-top: 7em;
//   }
// }
.wrap {
  width: var(--max-content-percentage);
  margin: 0 auto;
  max-width: var(--max-content-width);
}
/**
  Paragraphs etc
*/
p,
li,
input,
textarea {
  font-size: clamp(1.125rem, 1.008rem + 0.586vw, 1.313rem);
  line-height: 1.3;
}
@media screen and (min-width: 52em) {
  p,
  li,
  input,
  textarea {
    font-size: clamp(1.125rem, 1.07rem + 0.275vw, 1.5rem);
  }
}
p {
  margin: 0 0 1.5em 0;
}
strong {
  font-family: var(--sans-serif-medium);
}
hr {
  background-color: var(--dark-blue);
  height: 4px;
  margin: 0;
}
img {
  display: block;
  margin: 0.5em auto;
  max-width: 450px;
}
