<footer role="contentinfo" class="site-foot">

    <section class="final-footer">
      <div class="wrap">
        <aside class="tandb-logo-footer col-1-to-2">
          <a href="/">
            {{ partial "tandb-logo.html" . }}
          </a>
        </aside>
        <aside class="linkedin-icon col-3-to-5">
          <a target="_blank" href="https://www.linkedin.com/in/debmurray/">
            {{ partial "linkedin.html" . }}
          </a>
        </aside>
        <div class="company-legal row-2 col-1-to-4">
          <p>©T&B Design Ltd.<br>Company Reg 15311600</p>
        </div>
        <ul class="footer-links row-1-to-2 col-5-to-8" role="list">
          <li><a href="/privacy-notice/">Privacy notice</a></li>
          <li><a href="/terms-of-use/">Terms of use</a></li>
          <li><a href="/accessibility-statement/">Accessibility statement</a></li>
        </ul>
        <aside class="wcb row-1-to-2 col-8-to-12">
          <div id="wcb" class="carbonbadge wcb-d mb-2-0"></div>
          <div class="ecosend">
            <a href="https://ecosend.io/?utm_cmpaign=site-badge&utm-source=GSN-265180-O" target="_blank" rel="noopener noreferrer">
              <img src="https://ecosend.io/badge/black.png" width="220" height="80" alt="EcoSend. Climate-conscious email." loading="lazy" />
            </a>
          </div>
          <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
          <p class="attractmore">Low-carbon website built by <a href="https://www.attractmore.uk" target="_blank" title="AttractMore website opens in a new tab">AttractMore</a></p>
        </aside>
      </div>
  </section>
</footer>