<footer role="contentinfo" class="site-footer">
  <section class="final-footer">
    <div class="wrap">
      <aside class="logo-footer"> {{ partial "logo-figure.html" . }} </aside>
      <ul class="footer-links" role="list">
        <li><a href="/privacy-notice/">Privacy notice</a></li>
        <li><a href="/terms-of-use/">Terms of use</a></li>
      </ul>
      <div class="company-legal">
        <p>{{ site.Copyright }}</p>
      </div>
      <aside class="wcb">
        <div id="wcb" class="carbonbadge wcb-d"></div>
        <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
      </aside>
      <p class="attractmore">Low-carbon website built by <a href="https://www.attractmore.uk" target="_blank" title="AttractMore website opens in a new tab">AttractMore</a></p>
    </div>
  </section>
</footer>
