{{- define "main" }}
<div class="home" itemscope itemtype="https://schema.org/BlogPosting">
  <section class="vertical-padding-top">
    <div class="home-intro grid-col-12 fifty-fifty img-col-2 grid-row-auto-1fr wrap vertical-padding-bottom">
      <h1 class="row-1 col-1-to-6">{{ markdownify .Params.mainSection.mainHeading }}</h1>
      {{ partial "images/cloudinary-half.html" (dict "image" .Params.mainSection.tandbgraphic "alt" .Params.mainSection.tandbgraphicAlt "class" "row-1-to-2 col-7-to-12" "loading" "eager" "width" .Params.mainSection.tandbgraphicWidth "height" .Params.mainSection.tandbgraphicHeight) }}
      <div class="section-content row-2 col-1-to-6">
        <p class="lead">{{ with .Params.mainSection.p1 }}{{ markdownify . }}{{- end -}}</p>
        <p class="lead">{{ with .Params.mainSection.p2 }}{{ markdownify . }}{{- end -}}</p>
        <p class="lead">{{ with .Params.mainSection.p3 }}{{ markdownify . }}{{- end -}}</p>
      </div>
    </div>
    <hr>
  </section>

  <section class="two-thirds img-right vertical-padding-top">
    <div class="memorable-marketing grid-col-12 grid-row-auto-1fr wrap vertical-padding-bottom">
      <h2 class="row-1 col-1-to-4">{{ .Params.memorable.heading }}</h2>
      <div class="memorable-marketing-content col-5-to-12 row-1-to-2">
        <p class="lead align-with-adjacent-h2">{{ .Params.memorable.subHead }}</p>
        <div class="memorable-marketing-content-columns">
          <div class="column-1">
            {{ with .Params.memorable.column1.p1 }}<p class="std">{{ . }}</p>{{ end }}
            {{ with .Params.memorable.column1.p2 }}<p class="std">{{ . }}</p>{{ end }}
          </div>
          <div class="column-2">
            {{ with .Params.memorable.column2.p1 }}<p class="std">{{ . }}</p>{{ end }}
            {{ with .Params.memorable.column2.p2 }}<p class="std">{{ . }}</p>{{ end }}
          </div>
        </div>
      </div>
      <div class="section-content row-2 col-1-to-4">
        <p class="standard-button">
          <a href="/work-with-me/">Work with me</a>
        </p>
      </div>

    </div>
    <hr>
  </section>

  <section class="two-thirds vertical-padding-top">
    <div class="worked-with grid-col-12 grid-row-auto-1fr wrap vertical-padding-bottom">
      <h2 class="row-1 col-1-to-4">Who I&rsquo;ve worked with</h2>
      <div class="worked-with-logos row-1-to-2 col-5-to-12">
        {{ partial "client-logos.html" . }}
      </div>
      <!-- <div class="section-content row-2 col-1-to-4">
        <p class="standard-button">
          <a href="/work-with-me/">Work with me</a>
        </p>
      </div> -->
    </div>
    <hr>
  </section>

  <section class="two-thirds img-right vertical-padding-top">
    <div class="marketing-campaigns category-item grid-col-12 wrap vertical-padding-bottom">
      <h2 class="row-1 col-1-to-4">{{ .Params.marketing.mainHeading }}</h2>
      {{ partial "images/cloudinary-two-thirds.html" (dict "image" .Params.marketing.image "alt" .Params.marketing.imageAlt "class" "row-1-to-2 col-5-to-12 rounded-corners" "width" .Params.marketing.width "height" .Params.marketing.height "loading" "lazy") }}
      <div class="section-content row-2-to-3 col-1-to-4">
        <p class="sub">{{ with .Params.marketing.p1 }}{{ markdownify . }}{{- end -}}<br>
        <span class="sub">{{ with .Params.marketing.p2 }}{{ markdownify . }}{{- end -}}</span><br>
        <span class="sub">{{ with .Params.marketing.p3 }}{{ markdownify . }}{{- end -}}</span></p>
        <h3>Awards</h3>
        <ul role="list" class="marketing-campaign-awards">
          <li><img src="/images/grocer-gold-award.jpg" width="153" height="150" alt="Grocer Gold award 2018" loading="lazy" decoding="async"></li>
          <li><img src="/images/igd-award.jpg" width="353" height="150" alt="IGD award 2018" loading="lazy" decoding="async"></li>
          <li><img src="/images/cipr-silver-award.jpg" width="180" height="150" alt="CIPR Silver award 2018" loading="lazy" decoding="async"></li>
          <li><img src="/images/cipr-gold-award.jpg" width="180" height="150" alt="CIPR Gold award 2018" loading="lazy" decoding="async"></li>
        </ul>
        <p class="standard-button">
          <a href="{{ .Params.marketing.buttonLink }}">{{ .Params.marketing.buttonText }}</a>
        </p>
      </div>
      <ul role="list" class="home-testimonials testimonial-block col-5-to-12 row-3">
        <li class="testimonial">
          <q class="quote">{{ .Params.testimonials.marketing.testimonial1.text }}</q>
          <cite class="source">{{ .Params.testimonials.marketing.testimonial1.source }}</cite>
        </li>
      </ul>
    </div>
    <hr>
  </section>

  <section class="two-thirds img-right vertical-padding-top">
    <div class="brand-building category-item grid-col-12 wrap vertical-padding-bottom">
      <h2 class="row-1 col-1-to-4">{{ .Params.brandBuilding.mainHeading }}</h2>
      {{ partial "images/cloudinary-two-thirds.html" (dict "image" .Params.brandBuilding.image "alt" .Params.brandBuilding.imageAlt "class" "row-1-to-2 col-5-to-12 rounded-corners"  "width" .Params.brandBuilding.width "height" .Params.brandBuilding.height "loading" "lazy") }}
      <div class="section-content row-2-to-3 col-1-to-4">
        <p class="sub">{{ with .Params.brandBuilding.p1 }}{{ markdownify . }}{{- end -}}</p>
        <p class="sub">{{ with .Params.brandBuilding.p2 }}{{ markdownify . }}{{- end -}}</p>
        <p class="sub">{{ with .Params.brandBuilding.p3 }}{{ markdownify . }}{{- end -}}</p>
        <p class="standard-button">
          <a href="{{ .Params.brandBuilding.buttonLink }}">{{ .Params.brandBuilding.buttonText }}</a>
        </p>
      </div>
      <ul role="list" class="home-testimonials testimonial-block col-5-to-12 row-3">
        <li class="testimonial">
          <q class="quote">{{ .Params.testimonials.brand.testimonial1.text }}</q>
          <cite class="source">{{ .Params.testimonials.brand.testimonial1.source }}</cite>
        </li>
      </ul>

    </div>
    <hr>
  </section>

  <section class="two-thirds img-right vertical-padding-top">
    <div class="editorial-design category-item grid-col-12 wrap vertical-padding-bottom">
      <h2 class="row-1 col-1-to-4">{{ .Params.editorialDesign.mainHeading }}</h2>
      {{ partial "images/cloudinary-two-thirds.html" (dict "image" .Params.editorialDesign.image "alt" .Params.editorialDesign.imageAlt "class" "row-1-to-2 col-5-to-12 rounded-corners"  "width" .Params.editorialDesign.width "height" .Params.editorialDesign.height "loading" "lazy") }}
      <div class="section-content row-2-to-3 col-1-to-4">
        <p class="sub">{{ with .Params.editorialDesign.p1 }}{{ markdownify . }}{{- end -}}</p>
        <p class="sub">{{ with .Params.editorialDesign.p2 }}{{ markdownify . }}{{- end -}}</p>
        <p class="sub">{{ with .Params.editorialDesign.p3 }}{{ markdownify . }}{{- end -}}</p>
        <p class="standard-button">
          <a href="{{ .Params.editorialDesign.buttonLink }}">{{ .Params.editorialDesign.buttonText }}</a>
        </p>
      </div>
      <ul role="list" class="home-testimonials testimonial-block col-5-to-12 row-3">
        <li class="testimonial">
          <q class="quote">{{ .Params.testimonials.editorial.testimonial1.text }}</q>
          <cite class="source">{{ .Params.testimonials.editorial.testimonial1.source }}</cite>
        </li>
      </ul>
    </div>
    <hr>
  </section>

  <section class="two-thirds img-right vertical-padding-top">
    <div class="accessibilty category-item grid-col-12 wrap vertical-padding-bottom">
      <h2 class="row-1 col-1-to-4">{{ .Params.inclusive.mainHeading }}</h2>
      {{ partial "images/cloudinary-two-thirds.html" (dict "image" .Params.inclusive.image "alt" .Params.inclusive.imageAlt "class" "row-1-to-2 col-5-to-12 rounded-corners"  "width" .Params.inclusive.width "height" .Params.inclusive.height "loading" "lazy") }}
      <div class="section-content row-2-to-3 col-1-to-4">
        <p class="sub">{{ with .Params.inclusive.p1 }}{{ markdownify . }}{{- end -}}</p>
        <p class="sub">{{ with .Params.inclusive.p2 }}{{ markdownify . }}{{- end -}}</p>
        <p class="sub">{{ with .Params.inclusive.p3 }}{{ markdownify . }}{{- end -}}</p>
        <p class="standard-button">
          <a href="{{ .Params.inclusive.buttonLink }}">{{ .Params.inclusive.buttonText }}</a>
        </p>
      </div>
      <ul role="list" class="home-testimonials testimonial-block col-5-to-12 row-3">
        <li class="testimonial">
          <q class="quote">{{ .Params.testimonials.inclusive.testimonial1.text }}</q>
          <cite class="source">{{ .Params.testimonials.inclusive.testimonial1.source }}</cite>
        </li>
      </ul>

    </div>
    <hr>
  </section>

  <section class="two-thirds vertical-padding-top">
    <div class="stands-for-something grid-col-12 wrap vertical-padding-bottom">
      <h2 class="row-1 col-1-to-4">{{ .Params.standsForSomething.mainHeading }}</h2>
      <div class="stands-for-something-content row-1 col-5-to-12">
          <p class="principles row-1 col-1">{{ .Params.standsForSomething.p1 }}</p>
          <aside class="principles-logos row-2 col-1">
            <ul class="logos" role="list">
              <li class="bbn"><a href="https://thebetterbusiness.network/" target="_blank" title="The BBN website opens in a new tab"><img src="/images/bbn-logo.svg" alt="logo for the Better Business Network" loading="lazy" width="300" height="277"></a></li>
              <li class="carbon-literacy"><a href="https://carbonliteracy.com/" target="_blank" title="The Carbon Literacy website opens in a new tab"><img src="/images/carbon-literacy-project-certification-logo.png" alt="logo for the Carbon Literacy Project Certification" width="310" height="144" loading="lazy" decoding="async"></a></li>
              <li class="clean-creatives"><a href="https://cleancreatives.org/" target="_blank" title="The Clean Creatives website opens in a new tab"><img src="/images/clean-creatives-logo.png" alt="logo for Clean Creatives" width="144" height="144" loading="lazy"></a></li>
            </ul>
          </aside>
          <p class="charities row-1 col-2">{{ .Params.standsForSomething.p2 }}</p>
          <aside class="charities-logos row-2 col-2">
            <ul class="logos" role="list">
              <li class="little-lifts"><a href="https://www.littlelifts.org.uk/" target="_blank" title="Little Lifts website opens in a new tab"><img src="/images/little-lifts.png" alt="logo for Little Lifts breast cancer charity" width="183" height="144" loading="lazy" decoding="async"></a></li>
              <li class="oddballs"><a href="https://theoddballsfoundation.com/" target="_blank" title="The Oddballs Foundation website opens in a new tab"><img src="/images/oddballs-foundation.png" alt="logo for Oddballs Foundation the testicular cancer charity" width="127" height="144" loading="lazy" decoding="async"></a></li>
            </ul>
          </aside>
      </div>
    </div>
  </section>

</div>
{{- end }}{{/* end main */}}
