.standard-button {
  display: inline-flex;
  justify-content: center;
  margin-bottom: 0;
  svg {
    display: block;
    + a {
      display: block;
    }
  }
  a,
  button {
    border-radius: var(--button-radius);
    background-color: var(--pink);
    border: 1px solid var(--pink);
    color: var(--off-white);
    font-family: var(--sans-serif-bold);
    padding: 0.6em 0.5em;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all var(--transition-time) var(--transition-style);
    &:hover,
    &:focus {
      background-color: var(--off-white);
      color: var(--almost-black);
      border-color: var(--almost-black);
    }
    // &.arrowed {
    //   svg {
    //     stroke-width: 0.5em;
    //     width: 1.75em;
    //     stroke: var(--off-white);
    //     transition: stroke var(--transition-time) var(--transition-style);
    //     padding-left: 0.5em;
    //   }
    //   &:hover,
    //   &:focus {
    //     svg {
    //       stroke: var(--almost-black);
    //     }
    //   }
    //   &.left {
    //     svg {
    //       transform: rotate(180deg);
    //     }
    //   }
    // }
  }
}
