/********************************************
Utility Classes
********************************************/
.balance {
  text-wrap: balance;
}
.mb0 {
  margin-bottom: 0;
}
.mt05 {
  margin-top: 0.5em;
}
.vertical-padding-top {
  padding-top: var(--vertical-block-spacing);
}
.vertical-padding-bottom {
  padding-bottom: var(--vertical-block-spacing);
}

.grid-col-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2em;
  > div {
    grid-column: 1 / span 8;
  }
  > aside {
    grid-column: 9 / span 4;
  }
}
