/********************************************
Utility Classes
********************************************/
.balance {
  text-wrap: balance;
}
.mb0 {
  margin-bottom: 0;
}
.mt05 {
  margin-top: 0.5em;
}
.vertical-padding-top {
  padding-top: var(--vertical-block-spacing);
}
.vertical-padding-bottom {
  padding-bottom: var(--vertical-block-spacing);
}
