/*********************
LINK STYLES
*********************/
a,
a:visited {
  color: var(--terracotta);
  text-decoration: none;
  transition: color var(--transition-time) var(--transition-style);

  &:hover,
  &:focus {
    color: var(--dark-blue);
  }
}

a {
  &:focus {
    // fallback style for browsers that don't support :focus-visible
    outline: 3px solid var(--terracotta);
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    // fallback style for browsers that don't support :focus-visible
    // outline: 3px solid var(--terracotta);
    // outline-offset: 2px;
  }

  &:focus:focus-visible {
    // draw a noticeable focus style for keyboard focus on browsers that support :focus-visible
    outline: 3px solid var(--terracotta);
    outline-offset: 2px;
  }

  &:link {
    /*
		this highlights links on iPhones/iPads. So it basically works like the :hover selector for mobile devices. */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  }
}
