blockquote {
  font-family: var(--sans-serif-light-italic);
  font-style: italic;
  font-weight: 300;
}
cite {
  display: inline;
  font-family: var(--sans-serif-light);
  font-style: normal;
}
blockquote {
  color: var(--dark-blue);
}
