:root {
  /*********************
COLOURS
*********************/
  --textColour: #24373f;
  --blue: #0076a3;
  --pink: #c3006b;
  --off-white: #f7f7f7;
  /* https://thebrandalchemists.com/blogs/news/holistic-brand-color-palettes-2025?srsltid=AfmBOorGj-h29VwkaC8zPcOms3bKH-p8LxJ1ftk-hlaTx0hc78VMtkkD Sandy Shores */
  --beige: #efe6d6;
  --mid-grey: #b8b8ac;
  --light-terracotta: #cba378;
  --terracotta: #c86d39;
  --orange: rgb(229, 89, 55);
  --dark-blue: #2e4c63;
  --almost-black: #2c2927;

  /***************************************
    OTHERS
***************************************/
  --max-content-width: 1200px;
  --max-content-percentage: 90%;
  --image-radius: 1em;
  --button-radius: 1.5em;
  --column-gap: 2em;
  --row-gap: 2em;
  --menu-width: 16em;
  --line-height: 1.6;
  --transition-time: 0.2s;
  --transition-style: ease-in-out;

  --vertical-block-spacing: 5rem;

  --sans-serif-light: "Poppins 300", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --sans-serif: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --sans-serif-medium: "Poppins 500", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --sans-serif-bold: "Poppins 600", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --h1-font-size-large: clamp(2.5rem, 1.752rem + 1.439vw, 4rem);
  --h2-font-size-large: clamp(2.125rem, 1.439rem + 1.319vw, 3.5rem);
  --h3-font-size-large: clamp(1.75rem, 1.126rem + 1.199vw, 3rem);
}
